<h1>Welcome to the list of Odin Questions</h1>

<ol>
  <% @questions.each do |question| %>
  <li><b>Row/Question ID: </b><%= question.id %>, <b>Text: </b><%= question.question_text %>
    <ol type="a">
    <% question.choices.each do |choice| %>
      <li>
        <i>Row ID: </i><b><%= choice.id %></b>
        <i>Question ID: </i><b><%= choice.question_id %></b>
        <i>Choice ID: </i><b><%= choice.choice_id %></b>
        <i>Choice Text: </i><b><%= choice.choice_text %></b>
      </li>
    <% end %>
    </ol>
  </li>
  <% end %>
</ol>