<h1>Welcome to the list of Odin Questions</h1>

<ul class="list-group">
  <% @questions.each do |question| %>
  <li class="list-group-item">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <b>Q#<%= question.id %>: <%= question.question_text %></b>
        </h4>
      </div>
      <table class="table table-striped">
        <tr>
          <th>Row ID</th>
          <th>Question ID</th>
          <th>Choice ID</th>
          <th>Choice Text</th
        </tr>
      <% question.choices.each do |choice| %>
        <tr>
          <td><%= choice.id %></td>
          <td>Question #<%= choice.question_id %></td>
          <td>Choice #<%= choice.choice_id %></td>
          <td><%= choice.choice_text %></td>
        </tr>
      <% end %>
      </table>
      </div>
  </li>
  <% end %>
</ul>

<p>
  <%= link_to 'Home', '/', class: 'btn btn-primary' %>
</p>