<h1>New Question</h1>

<%= form_for @question, url: {action: "create"}, html: { class: "form-inline", role: "form" } do |f| %>
<p>
  <div class="form-group">
    <%= f.label :question_text %>
    <%= f.text_field :question_text, {class: "form-control cols-sm-8`"}%><br />
  </div>
</p>

<ul class="list-group">
  <%= f.fields_for :choices do |builder| %>
    <li class="list-group-item">
      <%= builder.label :choice_text %>
      <%= builder.text_field :choice_text, {class: "form-control cols-sm-8`"} %>
    </li>
  <% end %>
</ul>

<p>
  <div class="form-group">
    <%= f.submit "Submit Question", class: "btn btn-success" %>
    <%= link_to 'Cancel', '/questions', class: 'btn' %>
  </div>
</p>
<% end %> <!-- end form_for @question -->

<p>
  <%= link_to 'Home', '/', class: 'btn btn-large btn-primary' %>
</p>