<%= form_for @admin, html: { class: "form-inline", role: "form" } do |f| %>
  <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% @admin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, { class: "form-control", type: "text" } %>
  </div>
  </p>
  <p>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, { class: "form-control", type: "password" } %>
  </div>
  </p>
  <p>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, { class: "form-control", type: "password" } %>
  </div>
  </p>
  <p>
  <div class="form-group">
    <%= f.submit "Create Account", class: "btn btn-success" %>
  </div>
  </p>
<% end %>
