<h1>Welcome to the list of Odin Interactions: In Person</h1>

<table class="table table-hover">
  <tr>
    <th>Row ID</th>
    <th>User ID</th>
    <th>Peer ID</th>
    <th>Start Time</th>
    <th>Duration</th>
    <th>End Time</th>
    <th>RSSI</th>
    <th></th>
  </tr>

  <% @interactions.each do |interaction| %>
    <tr>
      <td><%= interaction.id %></td>
      <td><%= link_to "#{interaction.user_id}", controller: "interactions", action: "show", id: "#{interaction.user_id}"  %></td>
      <td><%= link_to "#{interaction.peer_id}", controller: "interactions", action: "show", id: "#{interaction.peer_id}"  %></td>
      <td><%= interaction.time %></td>
      <td><%= interaction.duration %></td>
      <td><%= (interaction.time.to_time + interaction.duration.to_i).in_time_zone.to_s %></td>
      <td><%= interaction.rssi %></td>
      <td><%= link_to "View all between users", { controller: "interactions", action: "compare", id1: "#{interaction.user_id}", id2: "#{interaction.peer_id}" }, class: "btn btn-primary" %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to 'Home', '/', class: 'btn btn-primary' %>
</p>
