<h1>Welcome to the list of Odin Users</h1>

<table class="table table-hover">
  <tr>
    <th>IMEI</th>
    <th>Phone Registered?</th>
    <th>User ID</th>
    <th>Hashed Phone Number</th>
  </tr>

  <% @valid.each do |phone| %>
    <tr>
      <td><%= phone.imei %></td>
      <td><%= if phone.is_registered then "Yes" else "No" end %></td>
      <td><%= if phone.user.nil? then "No User ID Generated" else phone.user.user_id end %></td>
      <td><%= phone.user.hashed_number %></td>

    </tr>
  <% end %>
</table>

<p>
  <%= link_to 'Home', '/', class: 'btn btn-primary' %>
</p>