<h1>Welcome to the list of Odin Users</h1>

<table class="table table-hover">
  <tr>
    <th>IMEI</th>
    <th>Phone Registered?</th>
    <th>User ID</th>
    <th>User ID Claimed?</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.imei %></td>
      <td><%= if user.is_registered then "Yes" else "No" end %></td>
      <td><%= if user.user.nil? then "No User ID Generated" else user.user.user_id end %></td>
      <td><%= if user.user.nil? then "No" else (if user.user.is_claimed then "Yes" else "No" end) end %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to 'Home', '/', class: 'btn btn-primary' %>
</p>