<h1>Welcome to the list of Odin Schedules</h1>

<p>
  <%= link_to "New Schedule", "/schedules/new" %>
</p>

<table>
  <tr>
    <th>Row ID</th>
    <th>Time</th>
    <th>User</th>
    <th>Question</th>
    <th>Sent?</th>
  </tr>

  <% @schedules.each do |schedule| %>
    <tr>
      <td><%= schedule.id %></td>
      <td><%= schedule.time %></td>
      <td><%= schedule.user_id %></td>
      <td>Question #<%= schedule.question_id %></td>
      <td><%= if schedule.sent then "Yes" else "No" end %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to "Home", controller: "pages" %>
</p>