<html>
<head>
	<title>New Schedule</title>
</head>
<body>
<h1>New Schedule</h1>

<%= form_for @schedule, url: {action: "create"} do |f| %>
	<p>
		<%= f.label :time %><br>
		<%= select_datetime(Time.now, prefix: :time, ampm: true, include_seconds: true ) %>
	</p>

	<p>
		<%= f.label :question_id %><br>
		<%= f.collection_select(:question_id, Question.all, :id, :question_text) %>
	</p>

	<p>
		<%= f.label :user_id %><br>
		<%= f.collection_select(:user_id, User.all, :id, :user_id) %>
	</p>

	<p>
		<%= f.submit "Submit Schedule" %>
	</p>
<% end %>

</body>
</html>