<html>
<head>
	<title>New Schedule</title>
</head>
<body>
<h1>New Schedule</h1>

<%= form_for @schedule, url: {action: "create"} do |f| %>
	<p>
		<%= f.label :time %><br />
		<%= select_datetime(Time.now.in_time_zone, prefix: :time, ampm: true, include_seconds: true ) %>
		<%= time_zone_select(Time.zone, 'time_zone', ActiveSupport::TimeZone.us_zones, default: Time.zone.name, selected: Time.zone.name ) %>
	</p>

	<p>
		<%= f.label :"question_id" %><br />
		<%= f.collection_select(:question_id, Question.all, :id, :question_text, prompt: "Please Select a Question") %>
	</p>

	<p>
	<%= f.label "Select Users" %><br />
	<% User.where(is_claimed: true).each do |user| %>
		<%= check_box_tag("users[]", user.user_id) %>
		<%= label_tag(:users, user.user_id) %> <br />
	<% end %>
	</p>

	<p>
		<%= f.submit "Submit Schedule" %> <br />
    <%= link_to "Back to all schedules", controller: "schedules" %>
	</p>
<% end %>

</body>
</html>