<html>
<head>
	<title>New Schedule</title>
</head>
<body>
<h1>New Schedule</h1>

<%= form_for :@schedule, url: {action: "create"} do |f| %>
	<p>
		<%= f.label :date %><br>
		<%= f.text_field :date %>
	</p>

	<p>
		<%= f.label :time %><br>
		<%= f.text_field :time %>
	</p>

	<p>
		<%= f.label :question_id %><br>
		<%= f.text_field :question_id %>
	</p>

	<p>
		<%= f.label :user_id %><br>
		<%= f.text_field :user_id %>
	</p>

	<p>
		<%= f.submit "Submit Schedule" %>
	</p>
<% end %>

</body>
</html>