<h1>New Schedule</h1>

<%= form_for @schedule, url: {action: "create"}, html: { class: "form-inline", role: "form" } do |f| %>
	<p>
    <div class="form-group">
      <%= f.label :time %><br />
      <%= select_datetime(Time.now.in_time_zone, {prefix: :time, ampm: true, include_seconds: true}, {class: "form-control cols-xs-2"} ) %>
      <%= time_zone_select('time', 'time_zone', ActiveSupport::TimeZone.us_zones, {default: Time.zone.name, selected: Time.zone.name},
                             {class: "form-control cols-xs-2"}) %> <br />
    </div>
	</p>

	<p>
    <div class="form-group">
    <%= f.label :question_id %><br />
    <%= f.collection_select(:question_id, Question.all, :id, :question_text, {prompt: "Please Select a Question"},
                            {class: "form-control"} ) %>
    </div>
	</p>

	<p>
    <div class="form-group">
      <%= f.label "Select Users" %>
      <div class="checkbox">
        <%= check_box_tag("selectAll", {class: "selectAll"}) %>
        <script>
          $('#selectAll').click(function() {
            if (this.checked) {
              $(':checkbox').each(function() {
                this.checked = true;
              });
            } else {
              $(':checkbox').each(function() {
                this.checked = false;
              });
            }
          });
        </script>
        <%= label_tag("Select/Deselect All") %>
      </div><br />
      <% User.where(is_claimed: true).each do |user| %>
      <div class="checkbox">
        <%= check_box_tag("users[]", user.user_id) %>
        <%= label_tag(:users, user.user_id) %> <br />
      </div>
      <% end %>
    </div>
	</p>

	<p>
    <div class="form-group">
		  <%= f.submit "Submit Schedule", class: "btn btn-success" %>
      <%= link_to 'Cancel', '/schedules', class: 'btn' %>
    </div>
	</p>

  <p>
    <%= link_to 'Home', '/', class: 'btn btn-large btn-primary' %>
  </p>
<% end %>
